# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
*       @Kenn3Th
*       @DanE-Bentzen
*       @erskirla 
*       @Johans3n

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
#*.js    @octocat @github/js

# You can also use email addresses if you prefer.
docs/*  kenneth.eikrehagen@gmail.com
docs/*  larsemu@gmail.com
docs/*  danbentzen@hotmail.com
docs/*  lasse-a-j@hotmail.com
